body {
  background-repeat: no-repeat;
  background-position: right bottom;
}
.diari {
  border-bottom: 2px solid #fff;
}
main {
  margin-left: 64px;
  margin-right: 57px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.kotakkiri {
  margin-right: 49px;
}
.kotakkiri,
.kotakkanan {
  width: 589px;
  height: 600px;
  box-shadow: 5px 10px 3px 2px #00000040;
  background: linear-gradient(
    180deg,
    rgb(56, 128, 62) 0%,
    rgb(119, 173, 89) 45.42%,
    rgb(241, 245, 220) 100%
  );
  /* margin: 20px; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.kotakkiri {
  justify-content: normal;
  padding-top: 66px;
}
.kotakkiri-child {
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;
}
.icon-pagi {
  width: 31.555px;
  height: 31.555px;
}

.kotakkanan-child {
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;  
}
.panah-atas,
.panah-bawah {
  width: 14.545px;
  height: 10px;
  margin: 15px 0px;
}

.menu-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto; 
}
.menu-menu::-webkit-scrollbar{
  display: none;  
}

.kotak-menu {
  display: flex;
  height: 105px;
}
.menu-checklist-deskripsi {
  display: flex;
  flex-direction: column;
  /* width: 450px;
  height: 117.203px; */
  border-radius: 5px;
  border: 1.5px solid #000;
  background-color: #fff;
  padding: 18px 15px 18px 36px;

}
.kotak-checklist {
  width: 27.492px;
  height: 27.492px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #fff;
  /* margin: 14px 15px 5px 0; */
}
.menu-checklist-deskripsi.checked{
  background-color: #C9DF8C;
}
.kotak-checklist.checked{
  background-color: #254e24;
}
.kotak-checklist input{
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.menu-judul{
  color: #254e24 !important;
  font-size: 25px;
  font-weight: 400;
}
.menu-checklist {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.menu-deskripsi {
  width: 273.473px;
  /* height: 14.469px; */
  color: #254e24;
  font-size: 15px;
  font-weight: 400;
  padding: 24px 0 0px 53px;
}
.kotak-kiri-item.listed {
  position: absolute;  
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 450px;
  z-index: 0;
  background-color: #E0E0E0;
  padding: 40px 20px 20px 46px;
  border-radius: 5px;

}  

.kotak-kiri-judul {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 20px 20px 46px;
  width: 450px;
  height: 60px;
  background-color: white;
  border-radius: 15px;
  font-size: 25px;
  color: #254e24;
}
.kotak-kiri-item-listed{
  font-size: 20px;
  color: #254E24;
  padding-top: 20px;
} 
.kotak-kiri-item-button{
  display: none;
}
.kotak-kiri-item-button.active{
  position: relative;
  font-size: 20px;
  color: #254E24;
  display: flex;
  justify-content: right;
  padding-top: 20px;
}
.kotak-kiri-item-button button:hover{
  background-color: #254E24;
}
.kotak-kiri-item-button button{
  padding: 12px 36px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 110px;
  background-color: #C30000;
  color: #fff;
  border: none;
  border-radius: 15px;
}