*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-image: url(img/DocterBackNoUser.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  /* overflow-y: hidden; */
  display: absolute;
}
main {
  margin-left: 57px;
}
.beranda {
  border-bottom: 2px solid #fff;
}
.sobatdietmu {
  display: flex;
  flex-direction: column;
  width: 659px;
  height: 78px;
  margin: 100px 567px 423px 54px;
}
.sobatdietmu-judul {
  font-family: "Lalezar-Regular", Helvetica;
  font-size: 70px;
  font-weight: 1000;
  line-height: normal;
  white-space: nowrap;
  color: #424242;
  margin-bottom: 38px;
}

.sobatdietmu p {
  font-family: "Lao Muang Don-Regular", Helvetica;
  color: #424242;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}
