 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* body{
    display: flex;
    justify-content: center;
    font-family: "Lao Muang Don-Regular", Helvetica;
    font-weight: 400;
    /* background-color: transparent; 
} */ 
.overlay{
display: none;
}
.overlay.active{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.kotakbesar{
    align-items: center;    
    background-color: #F1F5DC;
    padding: 76px 47px 76px 47px;
    border-radius: 10px;
    width: 594px;
}
.notifikasi{
    display: none;
}
.notifikasi.active{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;
    animation: fadeInOut 1.5s forwards; /* Animasi tampil selama 3 detik */

    /* display: none; */
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
.notifikasi-kotak{
    background-color: #c30000;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding: 10px 41px;
    border-radius: 10px;
    width: 500px;
    gap: 20px;
    display: flex;
    flex-direction: row;

}
.notifikasi-kotak img{
    height: 40px;
}
.silang{
    display: flex;
    justify-content: right;
    
}
.silang img{
    cursor: pointer;
}
.inputan1, .inputan2{
    display: flex;
    border-radius: 20px;
    background-color: #C9DF8C;
    align-items: center;

}
.inputan1{
    margin-bottom: 33px;
    margin-top: 33px;
}
.inputan2{
    margin-bottom: 11px;
}
.icon-user-wrapper{
    background-image: url(img/SetengahLingkaran.png);
    background-size: 100% 100%;
    padding: 13px 17px;
    width: 73px;
    display: flex;
    justify-content: center;
} 
.form input{
    border: 0;
    text-decoration: none;
    background-color:transparent;
    padding: 15px 27px 15px 27px;
    font-size: 25px;
    color: #254E24;

}

input:focus{
    outline: none;
}
.form input::placeholder {
    color: #254E24; 
    opacity: 50%;
}

.sec1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 1000;
    color: #254E24;
}
.sec2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 23px;
    color: #254E24;
}
.sec2 input{
    text-decoration: none;
    background-color: #77AD59;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    stroke: 1px #FFFFFF;
    cursor: pointer;
}
.sec2 input:hover {
    background-color: #254E24;
}
.sec2 a{
    text-decoration: none;
    color: #254E24;
}