body {
  background-color: #79AB59;
}
main {
  display: flex;
  justify-content: center;
}
nav {
  background-color: #254e24;
  padding: 0px 57px 0px 28px;

}
.container {
  height: 58px;
}

.login-login{
  /* margin-left: auto; */
  color: #fff;
  font-size: 20px;
  font-weight: 750;
  border-radius: 15px;
  background: #c30000;
  padding: 11px 24px 12px 24px;
}

.Isi-Judul{
  text-align: left;
  padding: 16px 23px;
  font-family: "Lao Muang Don-Regular", Helvetica;
  color: white;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5%;
  background-color: #38803E;
}
.Form{
  font-size: 20px;
  font-family: "Lao Muang Don-Regular", Helvetica;
  font-weight: 400;
  color: #254E24;
}

.Form-isi{
  background-color: white;

}
.Form-isi-judul{
  padding: 26px 23px 0px 23px;
}
.Form-isi-judul:last-child{
  padding-bottom: 26px;
}
.Informasi-Judul{
  background-color: #D2D2D2;
  padding: 23px 23px;
  font-weight: 600;
}
.Form-isi-isi, .Form-isi-isi-radio{
  padding: 19px 23px 0px 0px;
}
.Form-isi-isi input{
  width: 100%;
  height: 44px;
  padding: 16px 18px;
}
.Form-isi-isi-radio {
  padding: 16px 18px;
  display: flex;
  flex-direction: row;
}.Form-isi-isi-radio div {
  padding: 0px 23px 0 0;
  display: flex;
  align-items: center;
}
.Form-isi-isi-radio input {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}
input{  
  color: #254E24;
  border: 2px solid #254E24;
  border-radius: 10px;
  
}
input::placeholder{
  color: #254E24;
  opacity: 50%;
}

.Button{
  background-color: #C30000;
  width: 658px;
  height: 57px;
}
.Button input{
  width: 100%;
  height: 100%;
  background-color: #C30000;
  border: none;
  font-size: 20px;
  font-family: "Lao Muang Don-Regular", Helvetica;
  font-weight: 700;
  color: white;
  cursor: pointer;
  border-radius: 0px;
}
.Button input:hover{
  background-color: #254e24;
  color: #ffff;
  cursor: pointer;
}

