*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* .container-all {
  height: 757px;
  width: 436px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
} */

.container-nav {
  width: 436px;
  height: 75px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.logo-profil {
  width: 27.5px;
  height: 33px;
  margin: 21px 0px 21px 28px;
}
.profil-h1 {
  color: #254e24;
  font-size: 25px;
  font-weight: 600;
  margin: 29px 265px 29px 14.5px;
}
.logo-silang {
  width: 19px;
  height: 19px;
  margin: 28px 20px 28px 0px;
}
.container-profil {
  height: 222px;
  width: 396px;
  background-color: #fff;
  margin: 28px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.container-kelola-logo-nama {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 285px;
  justify-content: left;
  align-items: left;
  margin: 22px 88px 44px 23px;
}
.kelola {
  display: flex;
  justify-content: right;
  color: #c30000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.9px;
  margin: 14px 13px 0 326px;
}

.profil-lingkaran-nama {
  display: flex;
}
.profil-circle {
  width: 60px;
  height: 60px;
}
.container-umur-bb-tb{
  display: flex;
}
