*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* body{
    display: flex;
    justify-content: center;
    font-family: "Lao Muang Don-Regular", Helvetica;
    font-weight: 400;
    /* background-color: transparent; 
} */ 
/* .overlay{
display: none;
} */
.overlay{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.kotakbesar{
    align-items: center;    
    font-family: "Lao Muang Don-Regular", Helvetica;
    color: #254E24;
    background-color: #F1F5DC;
    padding: 30px 27px 76px 47px;
    border-radius: 10px;
    width: 594px;
    height: 419px;
    font-size: 25px;
    background-image: url(img/Gelombang.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.silang{
    display: flex;
    justify-content: right;

}
.silang img{
    cursor: pointer;
}
.inputan1, .inputan2{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.inputan1{
    margin-bottom: 14px;
    margin-top: 14px;
}
.inputan2{
    margin-bottom: 48px;
}
.inputan1 label, .inputan2 label{
    margin-bottom: 5px;
}

.form input{
    border: 1px solid #254E24;
    text-decoration: none;
    background-color:transparent;
    padding: 19px 23px;
    font-size: 25px;
    color: #254E24;
    width: 142px;
}   
input:focus{
    outline: none;
}
.form input::placeholder {
    color: #254E24; 
    opacity: 50%;
    font-size: 20px;
}
.button {
    display: flex;
    justify-content: right;
    margin-right: 90px;
    
}
.button button{
    background-color: #77AD59;
    color: #F1F5DC;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    width: 106px;
    height: 46px;
}
.inputan1 div, .inputan2 div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputan1 p, .inputan2 p{
    padding-left: 33px;
}